
.idea/misc.xml
.idea/modules.xml
.idea/NeuralNet.iml
.idea/vcs.xml
.idea/workspace.xml
test.csv
TrainDigitX.csv.gz
TrainDigitY.csv.gz
BACKUP/neural_network.py
smallX.csv
smallY.csv
TestDigitX.csv.gz
TestDigitY.csv.gz
testTest.csv
testTestY.csv
